.anatomy-wrapper {
  border-radius:25px;
  background-color: #f5f9ff;
  width:250px;
}

.anatomy-img {
  max-height: 290px;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 153, 255, 0.4));
}

.heart-indicator {
  top: 20%;
  left: 60%;
  padding: 10px;
  background-color: #4339F2;
  outline: none;
}

.leg-indicator {
  bottom: 25%;
  left: -8%;
  padding: 10px;
}

@media (min-width:480px) and (max-width: 600px) {
  .anatomy-img {
    width: 120px !important;  /* shrink image */
  }

  .heart-indicator {
    top: 18%;
    left: 60%;
  }

  .leg-indicator {
    top: 62%;
    left: -8%;
    font-size: 13px;
    padding-bottom: 5px;
  }
}
